<app-header imageUrl="dashboard" pageTitle="About Me"></app-header>
<mat-card>
    <mat-card-subtitle>
        AMIT SHUKLA<br/>
PgMP® PMP® SCM PGDWM B.E. (E&C) B.Sc.<br>
    </mat-card-subtitle>
    <mat-card-content>
        IT Business Intelligence, Analytics SME and Senior Executive Leader <br/><br/>
        Open Source Community Projects
        <button mat-button color="primary" routerLink="/business">by Business</button>
        <button mat-button color="primary" routerLink="/technology">by Technology</button>
        <button mat-button color="primary" routerLink="/pro">Pro</button>
        <br/>
        Build and Share Quality code for Desktop and Mobile App Software development using Web, AI, Machine Learning, Deep Learning algorithms.
        <br/><br/>
        <p>
        Healthcare IT Business Intelligence/Analytics SME, Leader with 20+ years of Functional/IT Consulting and Business leadership experience<br>
        on large scale Business Intelligence, Data warehouse, Analytics, PeopleSoft EPM, Data Mining, BIG DATA (Hadoop, Cloudera, R,<br>
        Julia, Python Machine Learning , Tableau, Trifacta, Arcadia, Cognos, Power BI etc.), Enterprise design Architecture <br><br>
        Cloud computing and Oracle PeopleSoft EPM, ERP (Finance, Supply Chain, HR Analytics and CRM), development, implementations consulting, <br>
        support and Management from conception to completion.<br><br>
        Strong record of success in managing robust IT High Reliable Organizations (HRO).<br><br>
        Proven ability to bring the benefits of IT to solve business issues while delivering applications, solid infrastructure, optimized costs and risks management planning.
        <br><br>
        Provide strategic direction and end-to-end hands-on consulting to senior leadership on technology and management. 
        </p>
    </mat-card-content>
</mat-card>
