<app-header imageUrl="business" pageTitle="Projects by Business"></app-header>
  <mat-card>
    <mat-card-actions>
      <button mat-button color="primary" routerLink="/aboutus">Back</button>
    </mat-card-actions>
      <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Data Science for ERP
                </mat-panel-title>
                <mat-panel-description>
                    Machine Learning
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list-item *ngFor="let folder of folders">
                <mat-icon mat-list-icon>folder</mat-icon>
                <div mat-line *ngIf="folder.link"><a href="{{ folder.link }}" target="_blank">{{folder.name}}</a></div>
                <div mat-line *ngIf="!folder.link">{{folder.name}} ***WIP</div>
                <div mat-line> {{folder.updated | date}} </div>
              </mat-list-item>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    iOS, Android, PWA
                </mat-panel-title>
                <mat-panel-description>
                  Live Pro Apps
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list-item *ngFor="let note of notes">
                <mat-icon mat-list-icon>note</mat-icon>
                <div mat-line><a href="{{ note.link }}" target="_blank">{{note.name}}</a></div>
                <div mat-line> {{note.updated | date}} </div>
              </mat-list-item>
            </mat-expansion-panel>
          </mat-accordion>        
      </mat-card-content>
  </mat-card>